/*Titillium Web font - Google  TypeKit*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

$font: "Titillium Web", sans-serif;

/*colors*/
$black: #13182c;
$orange: #ff9f29;
$oliver-green: #1a4d2e;
$biege: #faf3e3;
$cloud: #bdc5d5;
$light-grey: #f7f8f9;
$red: #c94515;
$white: white;
$slate: #5c667e;
$graphite: #232940;
